<h2 class='User_Header'><%='Admin'%> Pannel </h2>
<div id="admin">
  <h3><a href="/pcs">PCs</a></h3>
  <h3><a href="/gpu_confs">GPU Configurations</a></h3>
  <h3><a href="/cpu_confs">CPU Configurations</a></h3>
  <h3><a href="/gpu_types">GPU Types</a></h3>
  <h3><a href="/cpu_types">CPU Types</a></h3>
  <h3><a href="/pools">Pools</a></h3>
  <h3><a href="/pool_types">Pool Types</a></h3>
  <h3><a href="/gpu_miners">GPU Miners</a></h3>
  <h3><a href="/cpu_miners">CPU Miners</a></h3>
  <h3><a href="/campaigns">Campaigns</a></h3>
  <h3><a href="/asset_managers">Asset Managers</a></h3>
  <div id="about-content" style="display: none"></div>
</div>