/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */





.row .column{
    width:  25%;
    float: left;
    padding: 10px 0px;
    height: auto;
}
h3.lead{
    margin-bottom: 20px;
}

.clear{
    clear:both;
}
.row{
    display: block;
}

.row.header{
    display: block;
    font-weight: bolder;
}
.row.content .column{
    border-bottom: 1px lightgrey solid;
}
.form-section{
    padding: 1em;
}

h5.create_link{
    color:green;
}

label{
    float:left;
    width: 90px;
}

#error{
    padding:15px;
    background-color: hotpink;
}

#success{
    padding: 15px;
    background-color: lightgreen;
}